html *
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

#header-nav {
	background-color: #669999;
	border: 0;
	color: #cceeff;
	padding: 20px;
	margin: 0;
}

#logo-img{
	background: url("../images/sailfish5.png") no-repeat;
	background-size: 200px 100px;
	width: 200px;
	height: 100px;
	object-fit:scale-down; 
}

#header-nav h1 {
	color: #293d3d;
	font-size: 2em;
	padding-left: 10px;
}

.navbar-header button.navbar-toggle, .icon-bar {
	border: 1px solid #293d3d;
}

#main-content {
	margin: 0px;
	width: 100%;
	background-image: url("../images/fish_1.jpg");
}

#fishy-navbar li a {
	/*text-align: center;	*/
	color: 	#293d3d;
}

#fishy-navbar li a:hover{
	color: #e0ebeb;
}

h2{
	font-size: 	1.75em;
	padding-bottom: 3%;
	color: 	#293d3d;
}

h3{
	font-size: 1.5em;
	margin: auto auto 30px auto;
	width: 60%;
	padding: 2px 10px 2px 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.container .jumbotron {
	padding: 5%;
	padding-top: 3%;
	background-color: #669999;
	margin: 6%;
}

.jumbotron p {
	margin-bottom: 30px;
}

.jumbotron button {
	background-color:  #e0ebeb;
	margin-bottom: 	30px;
}

.jumbotron button:hover {
	background-color:  #006666;
}

.jumbotron a button:hover {
	color:  #e0ebeb;
}

.jumbotron a button {
	color: 	#006666;
	word-spacing: -11px;
}

.row {
	margin: 0;
}

section
{
	position: relative;
	background-color: #e0ebeb;
	padding: 35px 5px 5px 5px;
	margin: 10px;
	border: 5px solid #293d3d;
	text-align: justify;
}

.pink_title
{
	background-color: #b3ffff;
}

.blue_title
{
	background-color: #99ccff;
}

.red_title
{
	background-color: #006666;
	color: #ffffff;
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px){
}

@media (max-width: 767px) {
	#fishy-navbar {
		margin-top: 20px !important;
		border-top: 1px solid #293d3d;
	}
}
